body{
    width: 100%;
    background-color:#EEF9BF ;
    font-family: Roboto;
}
h1{
width: 540px;
height: 63px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
text-align: center;
font-size: 56px;
letter-spacing: -0.4px;
color: #75B79E;
}
.cartas {
    display: flex;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    width: 872px;
    flex-wrap: wrap;
    justify-content: center;


}
.carta{
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 17px;
}
.carta img{
    width: 100px;
    height: 100px;
}
.esconder{
    display: none;
}
.mostrar{
    display: block;
}
